* {
    margin: 0;
    padding: 0;
  }
  
  .content {
    display: flex;
    justify-content: space-around;
  }
  
  .product {
    width: 180px;
    border: 1px solid #000;
    padding: 16px;
    box-sizing: border-box;
    margin-bottom: 16px;
  }
  
  @media (max-width: 500px) {
    .content {
      flex-direction: column;
    }
  }
  
  @media (max-width: 319px) {
    .product {
      width: 90%;
      margin: 0 auto; 
    }
  }
  
  @media (min-width: 320px) and (max-width: 499px) {
    .product {
      width: 100%;
      display: flex;
    }
  }