* {
   margin: 0;
   padding: 0;
   }

html {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container {
   max-width: 1140px;
   margin: 0 auto;
}

.top_box {
   display: flex;
   flex-direction: column;
   height: 100%;
}

.top {
   height: 768px;
   background: linear-gradient(0deg, #EBF3FB 8.84%, rgba(152, 195, 232, 0) 31.12%);
}

.top-info {
   padding-top: 115px;
   flex-grow: 1;
   background-image: url(pics/top_back.png);
   background-repeat: no-repeat;
   background-position: right center;
   background-size: 41%;
}

.header {
   display: flex;
   justify-content: space-between;
   list-style-type: none;
   padding-top: 42px;
   padding-right: 16px;
   padding-left: 16px;
}

.product-card {
   width: 359px;
   padding: 44px 32px;
   box-sizing: border-box;
   background: #FFFFFF;
   box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
   border-radius: 10px;
   display: flex;
   flex-direction: column;
}

.product-list {
   display: flex;
   justify-content: space-between;
   padding-top: 64px;
   padding-bottom: 64px;
}

.card__link {
   font-size: 14px;
   line-height: 30px;
   letter-spacing: 0.05em;
   color: #5A98D0;
   text-decoration: none;
}

.card__img {
   align-self: center;
   margin-bottom: 51px;
}

.contacts-form {
   display: flex;
   justify-content: space-between;
}

.text {
   font-size: 16px;
   line-height: 26px;
   font-weight: 400;
   color: #1F3F68;
   letter-spacing: 0.05em;
   text-align: left;
   opacity: 0.6;
}

.text_project {
   width: 75%;
   margin: 32px auto 64px;
   color: #222222;
   opacity: 1;
   text-align: center;  
}

.project__img {
   width: 100%
}

.project__parent {
   display: flex;
   justify-content: space-between;
   margin-top: 32px;
}

.project__item {
   position: relative; 
   flex-grow: 1;
}

.project__item_margin {
   margin-right: 32px;
}

.project__text {
   font-size: 32px;
   line-height: 46px;
   text-align: right;
   letter-spacing: 0.05em;
   position: absolute;
   top: 64px;
   right: 64px;
   color: #FFFFFF;
}

.project__text_margin {
   font-size: 28px;
   line-height: 46px;
   text-align: right;
   letter-spacing: 0.05em;
   position: absolute;
   top: 32px;
   left: 32px;
   right: auto;
   color: #FFFFFF;
}
.projects-box {
   margin-bottom: 112px;
}

.text-header {
   width: 425px;
}

.top-heading {
   font-size: 64px;
   color: #1F3F68;
   width: 510px;
   font-weight: 300;
   line-height: 74px;
   letter-spacing: 0.04em;
   text-align: left;
   margin-bottom: 32px;
}

.top_button {
   font-size: 16px;
   line-height: 26px;
   text-align: center;
   letter-spacing: 0.04em;
   color: #FFFFFF;
   background: #5A98D0;
   box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
   border-radius: 10px;
   padding: 15px 50px;
   text-decoration: none;
   display: inline-block;
   margin-top: 71px;
}

.heading-contacts {
   font-weight: 500;
   font-size: 44px;
   text-align: center;
}

.heading {
   font-size: 36px;
   text-align: center;
   font-weight: 300;
   line-height: 46px;
   letter-spacing: 0.05em;
   color: #000000;
}

.what-we-do {
   padding-top: 64px;
}

.footer {
   background: #316099;
   margin-top: 112px;
}

.footer__top {
   padding-top: 91px;
   display: flex;
   justify-content: space-between;
   align-content: center;
}

.footer_button {
   font-size: 16px;
   line-height: 26px;
   text-align: center;
   letter-spacing: 0.04em;
   color: #FFFFFF;
   text-decoration: none;
   padding: 15px 80px;
   background: #5A98D0;
   display: inline-block;
   margin-top: 74px;
}

.footer__content {
   width: 495px;
}

.footer__info {
   display: flex;
   justify-content: space-between;
   font-size: 16px;
   line-height: 26px;
   letter-spacing: 0.05em;
   color: #FFFFFF;
   margin-bottom: 64px;
}

.footer__info_element {
   padding-left: 19px;
   margin-left: 19px;
   margin-right: 32px;
   flex-grow: 1;
   flex-basis: 33%;
}

.footer-top-heading {
   width: 340px;
   text-align: left;
   line-height: 46px;
   letter-spacing: 0.05em;
   color: #FFFFFF;
   margin-bottom: 32px;
}

.footer__copy {
   padding-bottom: 64px;
}

.copy__text {
   font-size: 16px;
   line-height: 26px;
   letter-spacing: 0.05em;
   color: #FFFFFF;
   opacity: 0.4;
}

.footer__text {
   font-size: 16px;
   line-height: 26px;
   letter-spacing: 0.05em;
   color: #FFFFFF;
   opacity: 0.6;
   margin-bottom: 96px;
}

.footer_hr {
   opacity: 0.4;
   border: 1px solid #FFFFFF;
}

.footer__bottom {
   padding-top: 64px;
}

.heading-mini {
   font-size: 20px;
   line-height: 30px;
   color: #1F3F68;
   letter-spacing: 0.05em;
   margin-bottom: 14px;
}

.input {
   border: 1px solid #356EAD;
   box-sizing: border-box;
   border-radius: 10px;
   opacity: 0.4;
}

.button {
   background: #5A98D0;
   box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
   border-radius: 10px;
   font-weight: 500;
   font-size: 16px;
   line-height: 26px;
   text-align: center;
   color: #FFFFFF;
   text-transform: uppercase;
}

@media (max-width: 1024px) {
   .container {
      padding-left: 32px;
      padding-right: 32px;
   }

   .top-info {
      background-position: right 280px;
   }
    
   .product-list {
      flex-direction: column;
      align-items: center;
   }

   .product-card {
      margin-bottom: 32px;
   }

   .footer {
      padding-right: 120px;
   }

   .footer__top_container {
      padding-right: 0;
   }

   .footer__info {
      flex-direction: column;
      align-items: center;
   }

   .footer__info_element {
      margin-bottom: 25px;
      margin-right: auto;
      padding-left: 37px;
   }
    
   .footer_button {
      padding: 5px 20px 5px 20px;
      margin-top: 74px;;
      display: inline-block;
   }
}

@media (max-width: 667px) {
   .top {
      height: auto;
      min-height: 376px;
      padding-bottom: 41px;
      box-sizing: border-box;
   }
   
   .header {
      padding-top: 24px;
   }
   
   .top-info {
      padding-top: 36px;
      display: flex;
      flex-direction: column;
      align-items: center;
      background-image: none;
   }

   .top-heading {
      width: 100%;
      font-size: 32px;
      line-height: 37px;
      margin-bottom: 12px;
      text-align: center;
   }
   
   .text-header {
      width: 100%;
      text-align: center;
   }

   .top_button {
      font-size: 12px;
      line-height: 26px;
      padding: 0 8px;
   }
    
   .heading {
      font-size: 24px;
      line-height: 28px;
   }
    
   .what-we-do {
      padding-top: 48px;
   }

   .product-list {
      padding-top: 32px;
   }

   .product-card {
      width: 100%;
   }

   .text_project {
      width: 100%;
   }

   .project__text {
      font-size: 16px;
      line-height: 19px;
      top: 16px;
      right: 16px;
   }

   .project__text_margin {
      left: 16px;
   }

   .project__text_margin {
      margin-right: 0;
   }

   .project__parent {
      flex-direction: column;
      margin-top: 16px;
   }

   .project__item_margin {
      margin-right: 0;
      margin-bottom: 16px;
   }
    
   .projects-box {
      margin-bottom: auto;
   }

   .footer {
      margin-top: 64px;
      padding: 0;
   }

   .footer__top {
      padding-top: 18px;
      padding-bottom: 40px;
      flex-direction: column;
      align-items: center;
   }

   .footer__top_container {
      padding: 0;
      margin: 0 auto;
   }

   .footer__content {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
   }

   .footer-top-heading {
      font-size: 24px;
      line-height: 28px;
      text-align: center;
      width: 75%;
   }

   .footer_button {
      margin-top: 40px;
   }

   .footer__text {
      margin-bottom: auto;
      text-align: center;
   }

   .footer__bottom {
      padding-top: 32px
   }

   .footer__info {
      margin-bottom: 40px;
   }

   .footer__info *:last-child {
      margin-bottom: 0;
   }

   .footer__info_element {
      margin-bottom: 18px;
      margin-right: auto;
      padding-left: 37px;
   }

   .footer__copy {
      padding-bottom: 32px;
   }

   .copy__text {
      text-align: center;
   }
}  
